li{
    user-select: none;
}

.decoration{
    text-decoration: line-through;
}
* {
    box-sizing: border-box;
}
.container{
    align-content: center;
}
h2{
    text-align: center;
}
ul li.checked {
    text-decoration: line-through;
}